{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            {% include 'upa/header_panel.html' %}
            <h5 class="text-center alert theme mt-3">ADDITIONAL DETAILS</h5>
            <form action="" method="POST">
				<div class="card my-4">
				<div class="card-body main-row">
                    {% csrf_token %}
                    <div class="row">
                    <h5 class="text-center alert theme">Personal Additional Details</h5>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Nickname</label>
                            <!-- <input type="text" class="form-control"> -->
                            {{form.nickname}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Personal Title</label>
                            {{form.personal_title}}
                        </div>

                        <div class="col-md-4 mb-3" onchange="getRegionValue();">
                            <label for="" class="form-label">Religion</label>
                            {{form.religion}}
                        </div>
                        <div class="col-md-4 mb-3" id="otherReligion">
                            <label for="" class="form-label">Other</label>
                            {{form.rel_other}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Category</label>
                            {{form.category}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Education Qualification</label>
                            {{form.educational_qualification}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Occupation Type</label>
                            {{form.occupation_type}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Employer Name</label>
                            {{form.employer_name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Designation</label>
                            {{form.designation}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Self Employed</label>
                            {{form.self_employeed}}
                        </div>
                        

                         </div>
                         <br>
                         <div class="row">
                            <h5 class="text-center alert theme">Personal Income Details</h5>
                                <div class="col-md-4 mb-3">
                                    <label for="" class="form-label">Monthly Income</label>
                                    <!-- <input type="text" class="form-control"> -->
                                    {{form.monthly_income}}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="" class="form-label">Assest (Approximate Value)</label>
                                    {{form.assets}}
                                </div>
        
                                <div class="col-md-4 mb-3">
                                    <label for="" class="form-label">Source</label>
                                    {{form.source}}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="" class="form-label">IT PAN No.</label>
                                    {{form.it_pan_no}}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="" class="form-label">Bussiness Nature</label>
                                    {{form.bussiness_nature}}
                                </div>
                                
        
                                 </div>
                         <div class="d-flex justify-content-center mt-4">
                        <a href="{% url 'address-form' profile.id %}" class="btn btn-warning">Previous</a>&nbsp; 
                        <button type="submit" class="btn btn-primary btn-customlg">Save & Next</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script>
    // here if religion will be other then other section will appear
    var element = document.getElementById("otherReligion");

    function getRegionValue(){
        var selectedValue = document.getElementById("id_religion").value;
        console.log(selectedValue)
        if (selectedValue == "Other"){
            element.style.display = 'block';
        }else{
            element.style.display = 'none'
        }

    }
    getRegionValue()
</script>

{% endblock content %}