{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'left_panel.html' %}
        <div class="col">
            {% include 'upa/header_panel.html' %}
            <form action="" method="POST">
				<div class="card my-4">
				<div class="card-body main-row">
                    {% csrf_token %}
                    <div class="row">
                        <h5 class="text-center alert alert-danger">UPA Personal Details</h5>
                        <div class="col-md-4">
                            <label for="" class="">Title</label>
                            <!-- <input type="text" class="form-control"> -->
                            {{form.personal_title}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Name</label>
                            <!-- <input type="text" class="form-control"> -->
                            {{form.name}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">First Name</label>
                            {{form.first_name}}
                        </div>

                        <div class="col-md-4">
                            <label for="" class="">Middle Name</label>
                            {{form.middle_name}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Last Name</label>
                            {{form.last_name}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Other</label>
                            {{form.other}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert alert-danger">Gaurdian Details</h5>
                        {% comment %} <h5>Father / Gaurdian Details</h5> {% endcomment %}
                        <div class="col-md-4">
                            <label for="" class="">Gaurdian Type</label>
                            {{form.gaurdian_type}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Title</label>
                            {{form.title}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Father's Name</label>
                            {{form.father_name}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">First Name</label>
                            {{form.first_name_hg}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Middle Name</label>
                            {{form.middle_name_hg}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Last Name</label>
                            {{form.gaurdian_name_hg}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert alert-danger">Mother Details</h5>
                        {% comment %} <h5>Mother / Gaurdian Details</h5> {% endcomment %}
                        <div class="col-md-4">
                            <label for="" class="">First Name</label>
                            {{form.mother_title}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">First Name</label>
                            {{form.first_name_m}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Middle Name</label>
                            {{form.middle_name_m}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Last Name</label>
                            {{form.last_name_m}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert alert-danger">Other Details</h5>
                        {% comment %} <h5>Other Details</h5> {% endcomment %}
                        <div class="col-md-4">
                            <label for="" class="">Date Of Birth</label>
                            {{form.dob}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Updated Age As per DOB</label>
                            {{form.update_age_dob}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Gender</label>
                            {{form.gender}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Marital Status</label>
                            {{form.marital_status}}
                        </div>
                        <div class="col-md-4">
                            <label for="" class="">Nationality</label>
                            {{form.nationality}}
                        </div>

                         </div>
                         <br>
                         <div class="row">
                            <h5 class="text-center alert alert-danger">Customer Pesonal Details</h5>
                            {% comment %} <h5>Father / Gaurdian Details</h5> {% endcomment %}
                            <div class="col-md-4">
                                <label for="" class="">Customer Type</label>
                                {{form.customer_type}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Customer Nature</label>
                                {{form.customer_nature}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Customer Education</label>
                                {{form.customer_education}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Customer Employment</label>
                                {{form.customer_work}}
                            </div>
                            
                        </div>
                         <div class="d-flex justify-content-center mt-4">
                        <a href="{% url 'basic-detail-form' profile.id%}" class="btn btn-warning">Previous</a>&nbsp; 
                        <button type="submit" class="btn btn-primary btn-customlg">Save & Next</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endblock content %}