{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            {% include 'upa/header_panel.html' %}
            <h5 class="text-center alert theme mt-3">PERSONAL INFORMATIONS</h5>
            <form action="" method="POST">
				<div class="card my-4">
				<div class="card-body main-row">
                    {% csrf_token %}
                    <div class="row">
                        <h5 class="text-center alert theme">UPA Personal Details</h5>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Title</label>
                            <!-- <input type="text" class="form-control"> -->
                            {{form.personal_title}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Applicant Full Name</label>
                            <!-- <input type="text" class="form-control"> -->
                            {{form.name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">First Name</label>
                            {{form.first_name}}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Middle Name</label>
                            {{form.middle_name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Last Name</label>
                            {{form.last_name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Nickname</label>
                            {{form.other}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert theme">Details Of Relation</h5>
                        {% comment %} <h5>Father / Gaurdian Details</h5> {% endcomment %}
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Type Of Relation</label>
                            {{form.gaurdian_type}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Prefix</label>
                            {{form.title}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Father's Full Name</label>
                            {{form.father_name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">First Name</label>
                            {{form.first_name_hg}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Middle Name</label>
                            {{form.middle_name_hg}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Last Name</label>
                            {{form.gaurdian_name_hg}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert theme">Mother Details</h5>
                        {% comment %} <h5>Mother / Gaurdian Details</h5> {% endcomment %}
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Mother's Full Name</label>
                            {{form.mother_full_name}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">First Name</label>
                            {{form.first_name_m}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Middle Name</label>
                            {{form.middle_name_m}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Last Name</label>
                            {{form.last_name_m}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-center alert theme">Other Details</h5>
                        {% comment %} <h5>Other Details</h5> {% endcomment %}
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            {{form.dob}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Updated Age As per DOB</label>
                            {{form.update_age_dob}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Gender</label>
                            {{form.gender}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Marital Status</label>
                            {{form.marital_status}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="form-label">Nationality</label>
                            {{form.nationality}}
                        </div>

                         </div>
                         
                         <div class="d-flex justify-content-center mt-4">
                        <a href="{% url 'basic-detail-form' profile.id%}" class="btn btn-warning">Previous</a>&nbsp; 
                        <button type="submit" class="btn btn-primary btn-customlg">Save & Next</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script>

    // Get the DOB input element and the updated_dob input element
    const dobInput = document.getElementById("id_dob");
    const updatedDobInput = document.getElementById("id_update_age_dob");

    dobInput.onchange = function() {
    const dob = new Date(this.value);
    const today = new Date();
    let ageInMilliseconds = today - dob;
    let ageInYears = ageInMilliseconds / 1000 / 60 / 60 / 24 / 365.25;
    ageInYears = Math.floor(ageInYears);
    ageInMilliseconds -= ageInYears * 365.25 * 24 * 60 * 60 * 1000;
    let ageInMonths = ageInMilliseconds / 1000 / 60 / 60 / 24 / 30.4375;
    ageInMonths = Math.floor(ageInMonths);
    ageInMilliseconds -= ageInMonths * 30.4375 * 24 * 60 * 60 * 1000;
    let ageInDays = ageInMilliseconds / 1000 / 60 / 60 / 24;
    ageInDays = Math.floor(ageInDays);
    updatedDobInput.value = `${ageInYears} years, ${ageInMonths} months, ${ageInDays} days`;
    };

 
</script>

{% endblock content %}