{% extends "base.html" %}

{% block content %}
<style>
    .hide {
      display: none;
    }
        
    .sms:hover + .hide {
      display: block;
      color: red;
    }
    </style>

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            {% include 'upa/header_panel.html' %}
            <form action="" method="POST">
                <div class="card my-4">
                    <div class="card-body main-row">
                        {% csrf_token %}
                        <h5 class="text-center alert theme">SERVICES REQUIRED</h5>
                        <hr>
                        <div class="row mt-5">
                            <h6 class="text-center alert theme">ALTERNATE DELIVERY CHANNEL FOR BUSINESS & SALE-PURCHASE 
                                <span>(Choose from the services listed below, as per your requirement)</span>
                            </h6>
                            <h5>ID Card (Bussiness Card)</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Card Type</th>
                                        <th scope="col">Charges Applicable for Bussiness Card</th>
                                        <th scope="col">Required</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if upa_type.upa_type == "Normal" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Green Bussiness ID Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.green_card_charge}}</td>
                                        <td>{{form.royal_green_card}}</td>
                                    </tr>
                                {% elif upa_type.upa_type == "Handicap" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Yellow Bussiness ID Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.yellow_card_charge}}</td>
                                        <td>{{form.royal_yellow_card}}</td>
                                    </tr>
                                {% elif upa_type.upa_type == "BPL" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Red Bussiness ID Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.red_card_charge}}</td>
                                        <td>{{form.royal_red_card}}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ################################ -->
                        <div class="row mt-5">
                            <h5 class="alert theme">Pay Card</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Card Type</th>
                                        <th scope="col">Charges Applicable for Pay Card</th>
                                        <th scope="col">Required</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if upa_type.upa_type == "Normal" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Green PayCard <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.green_atm_card_charge}}</td>
                                        <td>{{form.royal_green_atm}}</td>
                                    </tr>
                                {% elif upa_type.upa_type == "Handicap" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Yellow Pay Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.yellow_atm_card_charge}}</td>
                                        <td>{{form.royal_yellow_atm}}</td>
                                    </tr>
                                {% elif upa_type.upa_type == "BPL" %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Red Pay Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.red_atm_card_charge}}</td>
                                        <td>{{form.royal_red_atm}}</td>
                                    </tr>
                                {% endif %}
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Royal Rainbow Pay Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.blue_atm_card_charge}}</td>
                                        <td>{{form.royal_blue_atm}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- ####################################### -->
                        <div class="row mt-5">
                            <h5 class="alert theme">Account Passbook / E-Account Statement</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Presentation For Account Detail</th>
                                        <th scope="col">Charges Applicable</th>
                                        <th scope="col">Required</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Account Passbook <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.account_passbook_charge}}</td>
                                        <td>{{form.accouont_passbook}}</td>
                                    </tr>
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">E-Account Statement <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.e_account_statement_charge}}</td>
                                        <td>{{form.e_account_statement}}</td>
                                    </tr>
                                    

                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-5">
                            <h5 class="alert theme">UPA Visiting Card</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Card Type</th>
                                        <th scope="col">Charges Applicable for Visiting Card</th>
                                        <th scope="col">Required</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">General Color Visiting Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.general_color_charge}}</td>
                                        <td>{{form.general_color_card}}</td>
                                    </tr>
                                    <tr>
                                        <td title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">PVC Color Visiting Card <i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                        <td>{{form.pvc_color_charge}}</td>
                                        <td>{{form.pvc_color_card}}</td>
                                    </tr>
                                    

                                </tbody>
                            </table>
                        </div>
                            <div class="row mt-5">
                                
                                <div class="col-md-4">
                                    <label for="" class="" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium, velit cupiditate rem ad sapiente temporibus neque porro">SMS Alert <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    {{form.sms_alert}}
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Home Delivery Prodcuts <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    {{form.home_delevery}}
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Product Cart Display For Order Booking <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    {{form.product_display}}
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis autem praesentium">Books & News Update <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    {{form.book_new_update}}
                                </div>
                            </div>

                        
                        <div class="d-flex justify-content-center mt-4">
                            <a href="{% url 'sponsor-details-form' profile.id %}" class="btn btn-warning">Previous</a>&nbsp;
                            <button type="submit" class="btn btn-primary btn-customlg">Save & Next</button>
                        </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}