{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'left_panel.html' %}
        <div class="col">
            <h5 class="text-center mt-2 alert alert-danger">{{page}}</h5>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="card my-4">
                    <div class="card-body main-row">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="">Select Firm</label>
                                <!-- <input type="text" class="form-control"> -->
                                {{form.firm}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Category</label>
                                {{form.category}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Product Image</label>
                                {{form.product_image}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Product Name</label>
                                {{form.product_name}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Quantity</label>
                                {{form.quantity}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Cost Price</label>
                                {{form.cost_price}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Selling Price</label>
                                {{form.selling_price}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="">Product Description</label>
                                {{form.product_description}}
                            </div>
                            
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="submit" class="btn btn-primary btn-customlg">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}