{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'left_panel.html' %}
        <div class="col">
            {% include 'message.html'%}
            {%if request.user.is_authenticated%}
            {% for user in user %}

            {% if enroll %}
            <a href="{% url 'basic-detail-form' user.id %}?ref_no={{enroll.reference_no}}" class="btn btn-success mt-5">UPA Registration with Enrollment No</a>
            {% else %}
                {% if not bd %}
                <a href="{% url 'enrollment-form' user.id %}" class="btn btn-success mt-5">UPA Enrollment</a>
                {% endif %}
            <a href="{% url 'basic-detail-form' user.id %}" class="btn btn-success mt-5">UPA Registration</a>
            {% endif %}



            {% comment %} {% if enroll %}
            <a href="{% url 'basic-detail-form' user.id %}?ref_no={{enroll.reference_no}}" class="btn btn-success mt-5">UPA Registration with Enrollment No</a>
            {%else%}
            {% if not bd %}
            <a href="{% url 'enrollment-form' user.id %}" class="btn btn-success mt-5">UPA Enrollment</a>
            {% endif %}
            {% endif %}
            {% if not enroll%}
            <a href="{% url 'basic-detail-form' user.id %}" class="btn btn-success mt-5">UPA Registration</a>
            {% endif %} {% endcomment %}

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% comment %} {% include 'left_panel.html' %}
<div class="container mt-5">
    {% include 'message.html'%}
    <a href="{% url 'basic-detail-form'%}">UPA Registration</a>
    <h3 class="alert alert-success text-center">Welcome, {{request.user.username}}</h3>

</div> {% endcomment %}