{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            <h3 class="text-center m-5">Updated Products List</h3>
           
            <hr>
            <!-- <div class="row"> -->
                <table class="table table-striped table-hover table-bordered align-middle mb-5">
                    <thead class="theme_nav">
                    <tr>
                      <th>S.No</th>
                      <th>Store Location</th>
                      <th>Product Name</th>
                      <th>Box Name</th>
                      <th>Product Quantity</th>
                      <th>Row No.</th>
                      <th>Rack Section</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{product.store.location}}</td>
                        <td>{{product.product_names}}</td>
                        <td>{{product.box_name}}</td>
                        <td>{{product.product_quantity_in_box}}</td>
                        <td>{{product.rack_row}}</td>
                        <td>{{product.section_number_on_rack}}</td>
                        <td>{{product.product_status}}</td>
                        <td>
                        
                            
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
</div>


{% endblock content %}
    