{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card my-4 p-3">
                    <div class="card-body main-row">
                    <h3 class="text-center m-4" >{{page_name}}</h3>
                    <hr>
                        </div>
                        <div class="row mx-3">
                            <div class="col-md-4 mb-3">
                                <label for="" class="form-label">Tender No.</label>
                                {{form.tender_product_no}}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="form-label">Product Name</label>
                                {{form.product_name}}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="form-label">Product Image</label>
                                {{form.product_image}}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="form-label">Tender Product Quantity</label>
                                {{form.tender_product_quantity}}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="form-label">Tender Date</label>
                                {{form.tender_date}}
                            </div>
                            
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            
                            <button type="submit" class="btn btn-primary btn-customlg">Save</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

{% endblock content %}