{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card my-5 px-5 py-3 mx-auto">
                    <div class="card-body main-row">
                    <h3 class="text-center m-5" >{{page_name}}</h3>
                    <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Store Location</label>
                                {{form.location}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Store Name</label>
                                {{form.store_name}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Address 1</label>
                                {{form.store_address_one}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Address 2</label>
                                {{form.store_address_two}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Address 3</label>
                                {{form.store_address_three}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Store Size (L x B)</label>
                                {{form.store_size}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">No Of Racks</label>
                                {{form.no_of_racks}}
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label mt-3">Section In Rack</label>
                                {{form.avg_section_rack}}
                            </div>
                            
                        </div>
                        <div class="d-flex justify-content-center m-5">
                            
                            <button type="submit" class="btn btn-primary btn-customlg">Save</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

{% endblock content %}