{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'left_panel.html' %}
        <div class="col">
            <h5 class="alert alert-success text-center mt-3">Total Supply Order List</h5>
            <!-- Example single danger button -->
            <a href="{%url 'for-vendor' %}" class="btn btn-success">Purchase Order</a>
            <!-- <div class="row"> -->
                <table id="customers">
                    <tr>
                      <th>S.No</th>
                      <th>Company Name</th>
                      <th>Product Name</th>
                      <th>Order Completion Date</th>
                      <th>Total Product Count</th>
                      <th>Product Count</th>
                      <th>Order Status</th>
                      <th>Action</th>
                    </tr>
                    {% for order in total_supplies %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{order.company_name}}</td>
                        <td>{{order.tender_product}}</td>
                        <td>{{order.order_month}}</td>
                        <td>{{order.total_product_count}}</td>
                        <td>{{order.product_count}}</td>
                        <td>{{order.order_status}}</td>
                        {% if order.order_status == "Unsend To Vendor"%}
                        <td>
                        </form>
                        <form method="GET" action="{% url 'send-order-to-vendor' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{order.pk}}">
                        <button type="submit" class="btn btn-danger mt-2" title="Send to Vendor" >
                            Send
                        </button>
                        </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>

        </div>
    </div>
</div>


{% endblock content %}